body {
    background: #f9f6ec;
    padding: 15px 15px;
    word-break: break-all;
    line-height: 2.2em !important;
    padding-top: 50px;
    color: rgb(100, 100, 100);
    text-shadow: 5px 5px 5px rgba(50, 50, 50, 0.1);
    text-align: justify;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black !important;
}

img {
    width: 95% !important;
    display: block;
    margin: auto;
}