#inside {
    min-width: 1200px;
}

#inside .inside-wrap {
    width: 1200px;
    margin: 0 auto;
}

#inside .inside-contents {
    width: 100%;
    margin: 0 auto;
}

#inside .inside-left {
    width: 23%;
    margin-top: 20px;
    background: #fff;
}

#inside .inside-right {
    width: 76%;
    margin-top: 20px;
    background: #fff;
}

#inside .inside-logo {
    width: 100%;
    height: 60px;
    background: #D61010 url(../images/inside_logo.png) no-repeat center;
    background-position: 50px 14px;
}

#inside .left-list {
    width: 100%;
}

.left-list ul li {
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

#inside .arrow {
    margin-right: 10px;
}

#inside .inside-ewm {
    width: 100%;
    background: #fff;
    padding: 10px;
    text-align: center;
    margin: 30px 0;
}

#inside .history-top {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background: #f7f7f7;
}

#inside .historylive {
    font-size: 16px;
    color: #D61010;
}

#inside .leader-list {
    color: gray;
    cursor: pointer;
}

#inside .history-table {
    width: 100%;
    padding-left: 30px;
}

#inside .history-table table {
    width: 100%;
}

#inside .history-table table tr {
    border-bottom: 1px solid #C7C5C5;
    line-height: 35px;
}

#inside .history-table table .td1 {
    width: 15%;
}

#inside .history-table table .td2 {
    width: 40%;
}

#inside .history-table table .td3 {
    width: 15%;
}

#inside .history-table table .td4 {
    width: 15%;
}

#inside .history-table table .td5 {
    width: 15%;
}

#inside .check {
    width: 80px;
    height: 22px;
    line-height: 21px;
    text-align: center;
    color: #ff0000;
}

#inside .refer-contents {
    width: 100%;
    padding: 0 20px;
}

.refer-li-content {
    line-height: 22px;
    margin-top: 5px;
}

#inside .refer-contents ul {
    margin-bottom: 0;
}

#inside .refer-contents ul li {
    list-style: none;
    line-height: 25px;
    padding: 10px 0px;
    border-top: 1px solid #C7C5C5;
}

#inside .refer-contents ul li:first-child {
    border: none;
}

#inside .refer-li-left {
    width: 92%;
}

#inside .refer-li-right {
    width: 50px;
    line-height: 65px;
    text-align: center;
    background: url(../images/see.png) no-repeat center;
    background-position: 14px 32px;
    color: gray;
    font-size: 12px;
    padding-top: 25px;
    cursor: pointer;
}

#inside .refer-li-title {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#inside .referdetail {
    font-size: 16px;
    font-weight: bold;
}

#inside .detail-msg {
    padding: 10px 0;
    width: 100%;
    height: 45px;
    line-height: 30px;
    border-bottom: 1px dashed #cfcfcf;
    color: gray;
}

#inside .detail-msg > * {
    margin-left: 10px;
}

#inside #wx {
    background: url(../images/inside_icon.png) no-repeat;
    vertical-align: middle;
    background-size: 80%;
    margin: 0;
}

#inside #wb {
    background: url(../images/inside_icon.png) no-repeat;
    vertical-align: middle;
    background-size: 83%;
    margin: 0;
    background-position: 0px -29px;
}

#inside #qq {
    background: url(../images/inside_icon.png) no-repeat;
    background-position: -1px -56px;
    background-size: 83%;
    margin: 0;
    vertical-align: middle;
}

#inside #peng {
    background: url(../images/inside_icon.png) no-repeat;
    vertical-align: middle;
    background-position: 0px -77px;
    background-size: 83%;
    margin: 0;
}

#inside #collect {
    background: url(../images/inside_icon.png) no-repeat;
    vertical-align: middle;
    background-position: 0px -180px;
    background-size: 35%;
    margin: 0;
    padding-left: 29px;
}

#inside #comment {
    background: url(../images/inside_icon.png) no-repeat;
    vertical-align: middle;
    background-position: 0px -151px;
    background-size: 36%;
    margin: 0;
    padding-left: 29px;
}

.article-detail .title-1 {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
}

#inside .refer-content {
    padding: 20px 15px;
    font-size: 16px;
    line-height: 30px;
    color: rgb(100, 100, 100);
}

#inside .refer-content p {
    word-wrap: break-word;
}

#inside .refer-content img {
    max-width: 100%;
}

#inside .a-alert {
    font-size: 16px;
    color: #666666;
    text-indent: 2em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#inside .award {
    width: 100%;
}

#inside .award-txt {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #D61010;
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

#inside .award-txt:hover {
    background: red;
}

#inside .detail-footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

#inside .detail-footer span {
    display: inline-block;
    margin: 0 15px;
    color: gray;
}

#inside .turning {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

#inside li.select {
    color: #D61010;
    background: #f3ebeb;
}

.detail-share {
    position: relative;
}

.detail-share .bdsharebuttonbox {
    display: inline-block;
    padding: 0;
    border: none;
    top: 3px;
    left: 50px;
    width: 200px;
    z-index: 10;
}

.detail-share .detail-zan {
    display: inline-block;
    background: url(../images/icon11.png) no-repeat;
    background-position: -228px -102px;
    padding-left: 18px;
}

#vip-act .footer-txt {
    width: 540px;
}

.paid-list {
    text-align: center;
    padding: 20px;
}

.paid-list .avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
}

.paid-list .avatar img {
    width: 100%;
}

/*==================footer====================*/

#footer {
    border-top: 1px solid #dddddd;
    min-width: 1200px;
    margin-top: 10px;
    background: #f8f8f8;
    padding: 30px 0 0;
}

#footer .footer_top {
    padding-bottom: 45px;
    position: relative;
}

#footer .footer_logo {
    width: 250px;
    color: #666666;
    font-size: 12px;
    line-height: 21px;
}

#footer .footer_logo img {
    margin-bottom: 5px;
}

#footer .footer_nav {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

#footer .footer_nav dl {
    width: 20%;
    float: left;
    line-height: 25px;
}

#footer .footer_nav dt a {
    font-size: 16px;
    color: #333333;
}

#footer .footer_nav dd a {
    font-size: 12px;
    color: #666666;
}

#footer .footer_phone dl {
    margin-bottom: 5px;
    line-height: 22px;
    color: #333333;
}

#footer .footer_phone dt a {
    font-size: 16px;
    color: #333333;
}

#footer .footer_phone dd a {
    font-size: 12px;
    color: #666666;
}

#footer .img_list {
    border-top: 1px solid #e4e4e4;
    padding: 15px 0;
    background-color: #f5f5f5;
}

#footer .img_list img {
    border-radius: 3px;
    margin: 0 15px;
}

#footer .footer_about {
    background: #333333;
    line-height: 40px;
}

#footer .footer_about a {
    font-size: 12px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
    padding-left: 5px;
}

#footer .footer_about a:last-child {
    border: none;
    padding-right: 0;
}

.navwrap {
    position: relative;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hint {
    padding: 15px 0;
    line-height: 30px;
    background: white;
    font-size: 14px;
    color: #666666;
}

#hint a {
    color: #d70621;
}

#hint span {
    margin: 0 10px;
}


/*========================nav======================*/

#nav {
    position: relative;
    line-height: 50px;
    background-color: #ff7e3a;
}

#nav a {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0 7px;
    font-size: 16px;
}

#nav a:hover {
    background: #ffa060;
}


/*========================header=========================*/

header {
    background-color: #fff;
    box-shadow: 0 2px 2px #f1d6d5;
}

header img {
    border: none;
}

#head {
    padding: 18px 0;
}

#head .search {
    margin: 9px 93px;
    border: 1px solid #e4e4e4;
}


/*#head .search input{
    line-height:33px;
}*/

#head .search input[type='submit'] {
    width: 32px;
    border: none;
    background: #fff url(/public/icons/search.png) no-repeat center;
    background-size: 80%;
    line-height: 33px;
}

#bdcsMain {
    color: #999999;
    font-size: 12px;
    padding: 9px 13px;
    width: 374px;
    border: none;
    border-right: 1px solid #e4e4e4;
}

#head .yn-cion a {
    display: inline-block;
    width: 59px;
    height: 59px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin-left: 15px;
    line-height: 103px;
    background: url(http://www.yueniucj.com/public/icons/yn_01.png) no-repeat top;
}

#head .yn-cion a:last-child {
    background: url(http://www.yueniucj.com/public/icons/yn_03.png) no-repeat top;
}

#specialNav {
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    border-top: 1px solid #cccccc;
}

#specialNav a {
    display: inline-block;
    width: 16%;
    color: #d72621;
    position: relative;
}

#specialNav .icon:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(/public/icons/icon.png) no-repeat;
    position: relative;
    top: 10px;
    left: -4px;
}

#specialNav a:first-child .icon:before {
    background-position: -30px 0px;
}

#specialNav a:first-child+a .icon:before {
    background-position: -107px 0px;
}

#specialNav a:first-child+a+a .icon:before {
    background-position: -185px 0px;
}

#specialNav a:first-child+a+a+a .icon:before {
    background-position: -264px 0px;
}

#specialNav a:first-child+a+a+a+a .icon:before {
    background-position: -341px 0px;
}

#specialNav a:last-child .icon:before {
    background-position: -419px 0px;
}

#market {
    border-top: 1px solid #eeeeee;
    line-height: 32px;
}

#market .mark {
    background: #cccccc;
    color: #333333;
    padding: 0 7px;
    width: 73px;
    margin-right: 15px;
    position: relative;
}

#market .mark .icon {
    color: #cccccc;
    position: absolute;
    top: 8px;
    right: -6px;
    font-size: 18px;
}

#market .mar-container {
    line-height: 32px;
    overflow: hidden;
}

#MarketIndex {
    font-size: 13px;
}

#MarketIndex td {
    padding-right: 10px;
}

#MarketIndex .red {
    color: red;
}

#MarketIndex .green {
    color: green;
}

#MarketIndex .marketIndex-item .name {
    margin-right: 5px;
    position: relative;
    color: #333333;
}

#MarketIndex .marketIndex-item.gray {
    color: #c8c8c8 !important;
}

#MarketIndex .marketIndex-item.gray .icon {
    background-position: 0 center;
}

#MarketIndex .marketIndex-item.red .icon {
    background-position: 0 top;
}

#MarketIndex .marketIndex-item.green .icon {
    background-position: 0 bottom;
}

#MarketIndex .marketIndex-item .icon {
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url(/public/images/stock-arrow.png) no-repeat;
    background-size: 60%;
    position: relative;
}


/**/
.web-yueniucj #nav.hide{
    display: none;
}
.web-yueniu #yn-footer,
.web-yueniu #yn-top {
    display: block;
}

.web-yueniucj #footer,
.web-yueniucj #nav,
.web-yueniucj header{
    display: block;
}
.web-yueniucj .account,
.web-yueniucj .yn-in,
.web-yueniucj .leader-list,
.web-yueniucj .award,
.web-yueniucj .site-sidebar-wrap,
.web-yueniucj .inside-ewm,
.web-yueniucj .site-sidebar-wrap{
    display: none;
}
