body{
	margin:0;
	padding:0;
	font-size:16px;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "å¾®è½¯é›…é»‘", simsun, "å®‹ä½“", tahoma, arial;
}
footer{
	padding:15px 0;
	background:#333;
	color:#fff;
	font-size:12px;
	line-height:25px;
}
footer ul{
	text-align:center;
}
footer ul li{
	list-style:none;
	display:inline-block;
	
}
footer ul li:last-child a{
	border-right:none;
	padding-right:0;
}
footer ul li a{
	padding-right:5px;
	border-right:1px solid #fff;
	color:#fff !important;
}
.tc{
	text-align:center;
}
.hide{
	display:none;
}
.clear:after{
	content:"";
	clear:both;
	display:block;
}
.bt20{
	border-top:15px solid #f8f8f8;
}

.logo-bar{
	text-align:center;
	background:#d72621;
	font-size:18px;
	color:#fff;
	line-height:46px;
	position:relative;
}
.logo-bar img{
	width:28.5px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
}
.logo-bar .download{
	position:absolute;
	right:9px;
	top:9px;
	font-size:11px;
	display:inline-block;
	height:23px;
	width:62px;
	border:1px solid #fff;
	border-radius:5px;
	text-align:center;
	line-height:23px;
	color:#fff;
}
.yn-download{
	background:url(/public/images/yn-h5/dow_bg.png) no-repeat center;
	background-size:100%;
	height:99px;
	text-align:center;
	padding-top:1rem;
	border-bottom:1px solid #cccccc;
}
.yn-download a{
	height:28px;
	line-height:28px;
	color:#d72621;
	display:inline-block;
	border:1px solid #d72621;
	font-size:12px;
	cursor:pointer;
	text-align:center;
	margin:24px 12px;
	border-radius:19px;
	width:37%;
	transition:all .3s;
}
.yn-download a:hover{
	color:#fff;
	background:#d72621;
}
#yn-tag .column span.cur{
	color:#fff;
	background:#d72621;
}
.yn-download .logo{
	height:25.5px;
	background:url(/public/images/yn-h5/dow_logo.png) no-repeat center;
	width:50%;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
}
#yn-tag{
	background:#fff;
}
#yn-tag .column{
	padding:11.5px 0;
	text-align:center;
	border-bottom:1px solid #f5f5f5;
	margin:0 15px;
}
#yn-tag .column a span{
	color:#333333;
	display:inline-block;
	width:21%;
	line-height:27px;
	height:26px;
	margin:0 5px;
	border-radius:14px;
	font-size:13px;
	background:#f5f5f5;
	cursor:pointer;
	transition:all .3s;
}
#yn-tag .column a:first-child span{
	margin-left:0;
}
#yn-tag .column a:last-child span{
	margin-right:0;
}
#yn-tag .column_box{
	height:74px;
}
#yn-tag .column_box .column_list{
	display:none;
}
#yn-tag .column_box .icon_list{
	padding:14px 0;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:13px;
	background:url(/public/images/yn-h5/icon.png) no-repeat;
	line-height:20px;
}
#yn-tag .column_box .icon_list img{
	width:26px;
	height:26px;
}
#yn-tag .column_box .live,#yn-tag .column_box .ask,#yn-tag .column_box .opinion,#yn-tag .column_box .refer{
	text-align:center;
}
#yn-tag .live .icon_list{
	margin:0 7% ;
}
#yn-tag .ask .icon_list{
	margin:0 3% ;
}
#yn-tag .opinion .icon_list{
	margin:0 15% ;
}
#yn-tag .refer .icon_list{
	margin:0 7% ;
}
.wrap_box .headline{
	position:relative;
	padding-left:15px;
	line-height:44px;
	color:#333333;
	font-size:15px;
	border-bottom:1px solid #E4e4e4;
	height:43px;
}
.wrap_box .headline img{
	width:15px;
	height:15px;
	margin-right:10px;
	position:relative;
	top:1px;

}
.wrap_box .headline .more{
	font-size:12px;
	position:absolute;
	right:15px;
	color:#666666;
}
.wrap_box{
	width:100%;
}
.wrap_box .headline .more-icon{
	position:absolute;
	top:6px;
	font-size:30px;
	color:#cccccc;
	right:15px;
}
#art{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	transition:all .3s;
	display:none;
	z-index:1000;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
}
#art img{
	width:84%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:15%;
}
#art .icon-close{
	display:block;
	width:48px;
	height:48px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	background:url(/public/icons/close.png) no-repeat;
}