/*菜单*/

.switch {
    width: 100%;
}

.switch table {
    width: 100%;
}

.switch td {
    text-align: center;
    background: rgb(235, 235, 235);
    padding: 8px 0;
    cursor: pointer;
    font-size: 17px;
}

.switch td.select {
    background: #d72621;
    color: white;
}

#teacherComposite .list {
    width: 100%;
    margin-top: 15px;
}

#teacherComposite .list table {
    width: 100%;
}

#teacherComposite .list th {
    background: #cde0f2;
    padding: 10px 0;
    font-weight: normal;
    border: 1px solid rgb(155, 188, 189);
    color: #0b313e;
}

#teacherComposite .list td {
    border: 1px solid rgb(220, 220, 220);
    text-align: center;
    padding: 10px 0;
}

#teacherComposite .list td .fa {
    cursor: pointer;
}

#teacherComposite .list td.delete {
    color: #d72621;
}

#teacherComposite .list td.look {
    color: #2855b2;
}

#teacherComposite .list td.look a {
    border: 1px solid rgb(200, 200, 200);
    padding: 2px 5px;
    background: rgb(245, 245, 245);
    margin: 0 5px;
}

#teacherComposite .list td.state {
    color: #ff1603;
}

#teacherComposite .action.create {
    background: #d72621;
    color: white;
    border-radius: 2px;
    padding: 5px 20px;
    position: absolute;
    top: 5px;
    right: 20px;
}

.composite-items {
    padding: 10px 0;
}
