@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(Roboto.ttf) format('truetype');
    src: url('roboto-webfont.woff2') format('woff2'), url('roboto-webfont.woff') format('woff');
}
