/*reset-pass */
.relative {
  width: 80%;
  position: relative;
  margin: 0 auto; }
  .relative .person {
    position: absolute;
    left: 20px;
    top: 5px;
    width: 34px;
    height: 34px;
    background: url(/public/images/caoh5/verification_icon.png);
    background-size: 34px; }

#reset-pass {
  max-width: 640px;
  margin: 0 auto;
  color: #b1b1b1; }
  #reset-pass .block {
    display: block;
    margin: 14px auto; }
  #reset-pass .logo {
    margin: 40px auto 30px; }
  #reset-pass .main {
    text-align: center; }
    #reset-pass .main .input {
      width: 60%;
      display: block;
      font-size: 18px;
      margin: 14px 0;
      padding: 16px 64px;
      outline: none;
      border-radius: 8px;
      border: 1px solid #c8c5c5; }
    #reset-pass .main .btn {
      width: 80%;
      padding: 12px 0;
      margin-top: 40px;
      border: 0;
      outline: none;
      color: #fff;
      font-size: 24px;
      background: #fb836b;
      border-radius: 100px;
      box-shadow: 2px 2px 8px rgba(214, 51, 3, 0.5); }
