.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.link {
    cursor: pointer;
}

#site-main .site-main-single-cnt .block-title {
    margin-bottom: 40px;
}

.form-group {
    padding-left: 20px;
    margin-bottom: 35px;
}

.form-group:after {
    content: "";
    display: block;
    clear: both;
    *zoom: 1;
}

.form-group .form-field {
    line-height: 36px;
    font-size: 14px;
    width: 10%;
    float: left;
    text-align: right;
    padding-right: 15px;
}

.form-group .form-middle {
    line-height: 36px;
    float: left;
}

.form-group .form-middle input[type='radio'] {
    margin-right: 3px;
    margin-left: 10px;
}

.form-group .form-control {
    border: 1px solid #c7c7c7;
    line-height: 36px;
    height: 36px;
    color: #666;
    text-indent: 10px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    background: rgb(250, 250, 250);
    width: 280px;
}

.form-group .red {
    position: relative;
    top: 3px;
}

#mobile_hidden {
    margin-left: 16px;
}

.form-group .btn-getcode {
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    margin-left: 4px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #458eda;
    background: #7db1e7;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 0 10px;
}

.form-split {
    border-top: 1px solid #ddd;
    height: 0;
    margin: 30px 15px 20px 0;
}

.file-control {
    position: relative;
}

#page-title {
    margin-top: 6px;
}

#page-title h1 {
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #333;
    font-weight: normal;
}

#site-main {
    margin-bottom: 50px;
    position: relative;
    z-index: 100;
}

#site-main .site-main-single-cnt {
    padding: 20px 20px;
    background: #fff;
    box-shadow: 0 3px 10px #d0d0d0;
    border-radius: 5px;
}

#site-main .site-main-single-cnt .steps-wrap-2 {
    width: 900px;
    margin: 0 auto;
    overflow: hidden
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-item {
    height: 43px;
    overflow: hidden;
    background: url(/public/images/steps.png) no-repeat;
    width: 610px;
    margin: 20px auto 10px
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-item-1 {
    background-position: 0 0
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-item-2 {
    background-position: 0 -43px
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-item-3 {
    background-position: 0 -85px
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-item-4 {
    background-position: 0 -127px
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-text {
    width: 804px;
    margin: 0 auto
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-text span {
    display: inline-block;
    width: 142px;
    margin: 0 6px 0 45px;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #333
}

#site-main .site-main-single-cnt .steps-wrap-2 .step-text span.past {
    color: #e74243
}

#site-main .site-main-single-cnt .steps-wrap-3 {
    width: 900px;
    margin: 0 auto;
    overflow: hidden
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-item {
    height: 43px;
    overflow: hidden;
    background: url(/public/images/steps1.png) no-repeat;
    width: 418px;
    margin: 20px auto 10px
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-item-1 {
    background-position: 0 0
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-item-2 {
    background-position: 0 -43px
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-item-3 {
    background-position: 0 -85px
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-text {
    width: 617px;
    margin: 0 auto
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-text span {
    display: inline-block;
    width: 142px;
    margin: 0 6px 0 45px;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #333
}

#site-main .site-main-single-cnt .steps-wrap-3 .step-text span.past {
    color: #e74243
}

#site-main .site-main-single-cnt .steps-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#site-main .site-main-single-cnt .block-title,
#site-main .site-main-single-cnt .block-title-content dt {
    padding-left: 17px;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    background: url(/public/images/block-title.png) 0 50% no-repeat;
}

#site-main .site-main-single-cnt .block-title span,
#site-main .site-main-single-cnt .block-title-content dt span {
    color: #666;
    font-size: 14px;
    margin-left: 15px;
}

#site-main .site-main-single-cnt .field {
    width: 93px;
    font-size: 14px;
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
    line-height: 52px;
}

#site-main .site-main-single-cnt .field .required {
    color: #c33;
    font-size: 12px;
    position: relative;
    top: 2px;
    margin-right: 3px;
}

#site-main .site-main-single-cnt {
    padding: 15px;
    padding-right: 0;
    font-size: 14px;
}

#site-main .site-main-single-cnt .custom-checkbox li.checked {
    width: 128px;
    height: 39px;
    border: 2px solid #6f96be;
    color: #6f96be;
    background: url(/public/images/checked.jpg) 100% 0 no-repeat;
}

#site-main .site-main-single-cnt .custom-checkbox li {
    list-style: none;
    text-align: center;
    width: 130px;
    height: 41px;
    border: 1px solid #ddd;
    line-height: 41px;
    color: #333;
    float: left;
    margin-right: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

#site-main .site-main-single-cnt .custom-checkbox li:hover {
    width: 128px;
    height: 39px;
    line-height: 39px;
    border: 2px solid #6f96be;
}

#site-main .site-main-single-cnt .middle {
    vertical-align: middle;
}

#site-main .site-main-single-cnt .dropdownlist-wrap {
    display: inline-block;
    width: 364px;
    height: 37px;
    line-height: 37px;
    padding-left: 1px;
    position: relative;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt {
    width: 363px;
    height: 367px;
    border: 1px solid #8cb2d9;
    position: absolute;
    top: 37px;
    left: 0;
    background: #fff;
    display: none;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 101;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-left {
    width: 76px;
    height: 367px;
    border-right: 1px solid #e3e3e3;
    float: left;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-left p {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-left div {
    padding: 0 10px;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-left div ul li {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px solid #fff;
    float: left;
    margin: 0 5px 7px 5px;
    cursor: pointer;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-left div ul li.cur {
    background: #e2f0ff;
    border: 1px solid #8cb2d9;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-right {
    width: 285px;
    height: 367px;
    float: left;
    overflow: auto;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-right .dropdown-item .index {
    float: left;
    width: 40px;
    font-size: 16px;
    text-align: center;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-right .dropdown-item .list {
    float: left;
    width: 252px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px dotted #bdbdbd;
    padding: 5px 0;
}

#site-main .site-main-single-cnt .dropdownlist-wrap .dropdownlist-cnt-right .dropdown-item .list p {
    cursor: pointer;
}

#site-main .site-main-single-cnt .msg-wrap {
    line-height: 20px;
    display: inline-block;
    margin-top: 6px;
}

#site-main .site-main-single-cnt .msg-wrap .msg-info {
    color: #999;
    font-size: 12px;
}

#site-main .site-main-single-cnt .newListSelected {
    color: #000;
    height: 37px;
    line-height: 37px;
    float: left;
    outline: none;
    margin-right: 10px;
}

#site-main .site-main-single-cnt .newListSelected .selectedTxt {
    width: 152px;
    overflow: hidden;
    height: 37px;
    line-height: 37px;
    padding: 0 40px 0 10px;
    outline: none;
    color: #666;
}

#site-main .site-main-single-cnt .newListSelected .SSContainerDivWrapper {
    margin: 0;
    padding: 0;
    width: 202px;
    position: relative;
    top: 22px;
    left: 0;
    z-index: 2;
}

#site-main .site-main-single-cnt .newListSelected .SSContainerDivWrapper ul.newList {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    background: #fff;
    border: 1px solid #8cb2d9;
    overflow: auto;
}

#site-main .site-main-single-cnt .newListSelected .SSContainerDivWrapper ul.newList li {
    cursor: pointer;
    list-style: none;
}

#site-main .site-main-single-cnt .newListSelected .SSContainerDivWrapper ul.newList li:hover {
    background: rgb(240, 240, 240);
}

#site-main .site-main-single-cnt .newListSelected .SSContainerDivWrapper ul.newList a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#site-main .site-main-single-cnt .newListSelected .SSContainerDivWrapper ul.newList * {
    margin: 0;
    padding: 0;
}

#site-main .site-main-single-cnt .btn-wrap {
    padding: 30px 0;
}

#site-main .site-main-single-cnt .btn-wrap .btn-123-40 {
    display: inline-block;
    width: 123px;
    height: 34px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 3px #b7072b;
    font-size: 18px;
    background: #d1183e;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    line-height: 34px;
    border: none;
    cursor: pointer;
}

#step3:disabled {
    background: #e1e1e1 !important;
    box-shadow: 0 3px #999999 !important;
}

#site-main .site-main-single-cnt .btn-wrap .btn-123-40:hover {
    box-shadow: 0 3px #9d0625;
    background: #b61536;
}

#site-main .site-main-single-cnt .pic-upload {
    border-bottom: 1px solid #ddd;
    margin: 35px 20px 15px 0;
    padding-bottom: 60px;
    overflow: hidden;
}

#site-main .site-main-single-cnt .pic-upload img.example {
    padding: 5px;
    background: #fff;
    border: 1px solid #cfcfcf;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-info {
    float: left;
    width: 369px;
    font-size: 14px;
    color: #666;
    margin-left: 27px;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-info p {
    line-height: 30px;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-info .field {
    color: #333;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-info .btn-upload {
    width: 79px;
    height: 25px;
    line-height: 25px;
    background: #363636;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-info .btn-upload:hover {
    background: #818181;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-info .file-control-input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 25px;
    width: 79px;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-result {
    width: 265px;
    float: left;
    border-left: 2px dashed #ddd;
    padding-left: 45px;
    margin-left: 68px;
    text-align: center;
    overflow: hidden;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-result img {
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-result p {
    text-align: center;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-result .result-1 {
    width: 150px;
    float: left;
}

#site-main .site-main-single-cnt .pic-upload .pic-upload-result .result-2 {
    width: 75px;
    float: left;
    margin-left: 36px;
    text-align: center;
}

#site-main .site-main-single-cnt .custom-checkbox-wrap {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    margin-right: 15px;
}

#site-main .site-main-single-cnt .custom-checkbox-wrap ul {
    overflow: hidden;
}

#site-main .site-main-single-cnt .custom-checkbox-wrap ul li {
    display: inline-block;
    width: 130px;
    height: 41px;
    border: 2px solid #ddd;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    color: #333;
    float: left;
    margin-right: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

#site-main .site-main-single-cnt .custom-checkbox-wrap ul li:hover,
#site-main .site-main-single-cnt .custom-checkbox-wrap ul li.checked {
    border: 2px solid #6f96be;
    background: url(/public/images/checked.jpg) 100% 0 no-repeat;
    color: #6f96be;
}

#site-main .site-main-single-cnt .custom-checkbox-wrap ul li.new {
    width: 130px;
    height: 41px;
    line-height: 41px;
    border: 1px dotted #93beeb;
    background: #e5f2ff url(/public/images/plus.png) 50% 50% no-repeat;
    cursor: pointer;
}

#site-main .site-main-single-cnt .register-editor-wrap {
    overflow: hidden;
    height: 170px;
}

#site-main .site-main-single-cnt .register-editor-wrap .miniediter {
    width: 98%;
    border: 1px solid #dddddd;
    display: block;
    padding: 20px;
}

#site-main .site-main-single-cnt .register-editor-wrap #maxnember {
    margin: 10px 0;
}

#site-main .site-main-single-cnt p.protocol {
    font-size: 14px;
    color: #333;
}

#site-main .site-main-single-cnt p.protocol #Checkbox1 {
    float: left;
    position: relative;
    top: 5px;
}

#site-main .site-main-single-cnt p.protocol a {
    text-decoration: none;
}

#site-main .site-main-single-cnt p.protocol a:hover {
    text-decoration: underline;
}

#site-main .site-main-single-cnt .register-success {
    width: 490px;
    padding: 5px 0 10px 60px;
    background: url(/public/images/success.png) 0 0 no-repeat;
    color: #333;
    margin: 100px auto;
}

#site-main .site-main-single-cnt .register-success p {
    font-size: 16px;
}

#site-main .site-main-single-cnt .register-success .title {
    font-size: 18px;
    font-weight: bold;
}

#site-main .site-main-single-cnt .editor {
    width: 98%;
    overflow: hidden;
}

#site-main .site-main-single-cnt .editor a {
    color: #3486d9;
}

#site-main .site-main-single-cnt .editor a:hover {
    color: #3486d9;
}

#site-main .site-main-single-cnt .editor * {
    padding: 0;
    margin: 0;
}

#uploadButton {
    padding: 5px 10px !important;
}

#site-main .site-main-single-cnt .editor .toolbar {
    background: #efefef;
    border: 1px solid #ddd;
    padding: 8px;
}

#site-main .site-main-single-cnt .toolbar .add {
    width: 148px;
    height: 97px;
    cursor: pointer;
    display: inline-block;
    margin: 3px 5px;
    border-radius: 3px;
    background: url(/public/images/add.png) no-repeat;
    overflow: hidden;
}

#site-main .site-main-single-cnt .toolbar .add img {
    width: 100%;
    border: 1px solid #e1e1e1;
}

#site-main .site-main-single-cnt .editor .toolbar table {
    table-layout: auto;
    width: auto;
}

#site-main .site-main-single-cnt .editor .toolbar table .tb_button {
    width: 21px;
    height: 21px;
    border: 1px solid #efefef;
    float: left;
}

#site-main .site-main-single-cnt .editor .toolbar table .tb_bttip {
    position: relative;
    width: 50px;
    color: black;
    cursor: pointer;
    background: url(/public/images/toolbarTxt.gif);
    background-position: 0px 0px;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
    display: inline-block;
    text-align: center;
}

#site-main .site-main-single-cnt .editor .toolbar table .tb_bttip:hover {
    background-position: 0px -118px;
}

#site-main .site-main-single-cnt .editor .toolbar table .tb_bttip .file-control-input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 21px;
    width: 50px;
}

#site-main .site-main-single-cnt .editor .edit_area {
    height: 277px;
}

#site-main .site-main-single-cnt .editor .edit_area {
    overflow: hidden;
}

#site-main .site-main-single-cnt .editor .edit_area textarea {
    border-color: #dedede;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    width: 100%;
    height: 237px;
    padding: 10px;
    background: white;
}

#site-main .site-main-single-cnt .block-title-content {
    overflow: hidden;
}

#site-main .site-main-single-cnt .block-title-content dt {
    float: left;
    padding-right: 35px;
}

#site-main .site-main-single-cnt .block-title-content .agency-text {
    border: 1px solid #c7c7c7;
}

#site-main .site-main-single-cnt .block-title-content textarea {
    height: 190px;
    border: 1px solid #ddd;
    line-height: 24px;
    padding: 6px 9px 5px 9px;
    color: #333;
    font-size: 14px;
    width: 700px;
}


/*上传头像*/

.upload-img .thickdiv,
.upload-img iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.replay-comment .thickbox-mycollect .operat .btn {
    margin-top: 20px;
}

.upload-img {
    display: none;
}

.upload-img iframe {
    z-index: 100;
    border: 0;
    opacity: .2;
    filter: alpha(opacity=.2);
}

.upload-img .thickdiv {
    z-index: 101;
    border: 2px;
    opacity: .15;
    filter: alpha(opacity=15);
}

.upload-img .thickbox {
    position: fixed;
    top: 10%;
    bottom: 150px;
    left: 50%;
    z-index: 102;
    overflow: hidden;
    margin-left: -400px;
    padding: 0;
    width: 800px;
    height: 600px;
    border: 4px solid rgba(0, 0, 0, .1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.upload-img .thickbox .thicktitle {
    padding: 0 10px;
    text-align: left;
}

.upload-img .thickclose,
.upload-img .thicktitle {
    padding: 0 9px;
    height: 27px;
    background: #F3F3F3;
    line-height: 27px;
}

.upload-img .thicktitle {
    float: left;
    width: 93%;
    color: #333;
    font-weight: 700;
    font-size: 14px;
    font-family: "\5b8b\4f53", arial;
}

.upload-img .thickbox>span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: 60px;
}

.upload-img .thickclose {
    float: right;
    cursor: pointer;
}

.upload-img .container {
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -300px;
}

.upload-img .imageBox {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border: 1px solid #aaa;
    background: no-repeat #fff;
    box-shadow: 4px 4px 12px #B0B0B0;
    cursor: move;
}

.upload-img .action {
    margin: 10px 0;
    width: 400px;
    height: 30px;
}

.upload-img .cropped {
    position: absolute;
    top: 0;
    left: 49%;
    margin-left: -125px;
    padding: 4px;
    width: 200px;
    height: 475px;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px #ddd;
    text-align: center;
}

.upload-img .imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    border: 1px solid #666;
    background: 0 0;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, .5);
}

.upload-img .imageBox .spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    line-height: 400px;
}

.upload-img .Btnsty_peyton,
.upload-img a.upload-img {
    box-shadow: 0 0 5px #B0B0B0;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 57px;
    cursor: pointer;
}

.upload-img .Btnsty_peyton {
    float: right;
    display: inline-block;
    margin: 0 2px;
    width: 66px;
    height: 57px;
    border: 0 solid #fff;
    border-radius: 3px;
    background-color: #f38e81;
}

.upload-img .new-contentarea {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 auto;
    width: 165px;
}

.upload-img .new-contentarea label {
    display: block;
    width: 100%;
    height: 100%;
}

.upload-img .new-contentarea input[type=file] {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 2;
    margin: 0 -94px 0 auto;
    width: 188px;
    height: 60px;
    background: #333;
    opacity: 0;
}

.upload-img a.upload-img {
    display: inline-block;
    margin-bottom: 10px;
    width: 165px;
    height: 57px;
    border: 0 solid #fff;
    border-radius: 3px;
    background-color: #f38e81;
}

.upload-img a.upload-img:hover {
    background-color: #ec7e70;
}

.upload-img .tc {
    text-align: center;
}

.upload-img .thickbox>button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #ff544a;
    color: #fff;
    font-size: 18px;
}

#site-main .site-main-single-cnt .select {
    width: 193px;
    height: 37px !important;
}

#select-province:focus,
#select-city:focus {
    outline: none;
}

#sleHid {
    display: block;
    overflow: hidden;
}

input#img_srcInput {
    padding: 6px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
}
