
#contentart #login .w300 .info input:focus,
#contentart #login .w300 .inpt input:focus {
    outline: 0
}

#contentart {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
    display: none;
}

#contentart #login {
    width: 414px;
    height: 500px;
    background: #fff;
    position: absolute;
    overflow: hidden
}

#contentart #login .prompt {
    top: -38px;
    position: absolute;
    width: 100%;
    height: 26px;
    border: 1px solid #e4393c;
    color: #e4393c;
    line-height: 26px;
    font-size: 12px;
    background: #ffebeb;
    margin-bottom: 5px;
    display:none;
}

#contentart #login .prompt img {
    position: relative;
    top: 4px;
    margin-left: 5px;
    margin-right: 5px
}

#contentart #login .topti {
    width: 100%;
    height: 34px;
    overflow: hidden;
    background: #f3f3f3
}

#contentart #login .topti .title {
    color: #777;
    font-size: 14px;
    padding-left: 15px;
    line-height: 34px;
    font-weight: 700
}

#contentart #login .topti .close {
    float: right;
    cursor: pointer;
    z-index:1000;
}

#contentart #login .topti .close i {
    font-size: 18px;
    color: #777;
    position: relative;
    top: 8px;
    right: 8px
}

#contentart #login .w300 {
    position: relative;
    width: 300px;
    margin: 55px auto 35px
}

#contentart #login .w300 .inpt {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px
}

#contentart #login .w300 .inpt a {
    text-align: center;
    float: left;
    width: 40px;
    height: 100%;
    border-right: 1px solid #bdbdbd;
    background: #f3f3f3
}

#contentart #login .w300 .inpt a i {
    font-size: 20px;
    color: #999;
    position: relative;
    top: 9px
}

#contentart #login .w300 .inpt input {
    float: left;
    width: 253px;
    height: 100%;
    line-height: 40px;
    border: none !important;
    padding-left: 5px;
}

#contentart #login .w300 .box {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #656565;
    overflow: hidden;
    margin-bottom: 15px
}

#contentart #login .w300 .box .fr {
    float: right;
    color: #656565;
    text-decoration: none
}

#contentart #login .w300 .box .fr:hover {
    color: red;
    text-decoration: underline
}

#contentart #login .w300 .info {
    width: 100%;
    margin-bottom: 46px
}

#contentart #login .w300 .info input {
    width: 100%;
    height: 32px;
    font-size: 18px;
    border: 1px solid #cb2a2d;
    color: #fff;
    background: #e4393c;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    cursor: pointer
}

#contentart #login .w300 .info input:hover {
    border: 1px solid #e4393c;
    background: #cb2a2d
}

#contentart #login .w300 .three {
    height: 9px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    margin-bottom: 35px
}

#contentart #login .w300 .three span {
    background: #fff;
    font-size: 12px;
    color: #999;
    line-height: 18px;
    overflow: hidden
}

#contentart #login .w300 .threepto {
    margin-bottom: 50px
}

#contentart #login .w300 .threepto img {
    cursor: pointer;
    margin: 0 10px;
    box-shadow: none
}

#contentart #login .w300 .register {
    font-size: 12px;
    color: #656565
}

#contentart #login .w300 .register a {
    color: #e3393b
}
