* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    overflow: visible
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07)
}

::-webkit-scrollbar-track:horizontal {
    border-width: 0
}

::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1)
}

::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07)
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 28px;
    padding: 20px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25)
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07)
}

::-webkit-scrollbar-corner {
    background: transparent
}

body {
    font-family: "Arial", "Microsoft YaHei", "黑体", sans-serif;
}

ol,
ul {
    margin-bottom: 10px;
}

a {
    color: #555;
}

a {
    text-decoration: none;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.clearfix:after,
.container-fluid:after,
.container:before,
.col-md-offset-1 {
    margin-left: 8.33333333%;
}

.col-md-offset-2 {
    margin-left: 16.66666667%;
}

.col-md-offset-3 {
    margin-left: 25%;
}

.col-md-offset-4 {
    margin-left: 33.33333333%;
}

.col-md-offset-5 {
    margin-left: 41.66666667%;
}

.col-md-offset-6 {
    margin-left: 50%;
}

.col-md-offset-7 {
    margin-left: 58.33333333%;
}

.col-md-offset-8 {
    margin-left: 66.66666667%;
}

.col-md-offset-9 {
    margin-left: 75%;
}

.col-md-offset-10 {
    margin-left: 83.33333333%;
}

.col-md-offset-11 {
    margin-left: 91.66666667%;
}

.col-md-offset-12 {
    margin-left: 100%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left;
}

.hid {
    display: none;
}

.web_rise {
    background: #F7F7F7;
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
}

.web_rise .container .row [class^=col-] a,
.web_rise .container .row [class^=col-] dl dt {
    line-height: 42px;
}

.web_rise .container .row [class^=col-] a {
    padding: 0 5px;
}

.web_rise .container .row [class^=col-] dl {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.web_rise .container .row [class^=col-] dl {
    *display: inline;
}

.web_rise .container .row [class^=col-] dl+span {
    border-left: 1px solid #999999;
    padding: 0 5px;
}

.web_rise .container .row [class^=col-] dl dd {
    display: none;
    position: absolute;
    margin-top: -8px;
    z-index: 1;
}

.web_rise .container .row [class^=col-] dl dd.ewm {
    text-align: left;
    background: url("../images/ewm1.png") no-repeat center;
    width: 242px;
    height: 134px;
    padding: 25px 20px;
    line-height: 25px;
}

.web_rise .container .row [class^=col-] dl dd.ewm img {
    float: left;
    margin-right: 15px;
    border: none;
    width: 70px;
    height: 70px;
}

.web_rise .container .row [class^=col-] dl dd li {
    list-style: none;
}

.web_rise .container .row [class^=col-] dl dd {
    line-height: 36px;
}

.web_rise .container .row [class^=col-] dl:hover dd {
    display: block;
    margin-left: -60px;
}

.web_rise .container .row [class^=col-] dl+span+dl:hover dd {
    display: block;
    width: 90px;
    height: 94px;
    margin-left: -13px;
    padding-top: 8px;
    background: url(../images/jiao.png) no-repeat center;
}

.center {
    text-align: center;
}

.bg-orange {
    background: #cf1623;
}

nav {
    position: relative;
}

nav input {
    height: 34px;
    width: 238px;
    border: 1px solid #EB1927;
    margin: 6px 0;
    padding-left: 5px;
}

nav button {
    height: 34px;
    margin: 6px -2px;
    border: 1px solid #EB1927;
    width: 60px;
    background: #fff;
}

.navigation_mobile_click {
    display: none;
}

#head_user_img {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    top: 7px;
}

table {
    border-collapse: collapse;
}

.yn-wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 1200px;
}

#yn-header {
    color: #999;
    min-width:1200px;
    background: #f8f8f8;
    font-size: 13px !important;
    line-height: 16px !important;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#yn-header a {
    color: #999;
}

#yn-header .yn-wrap {
    padding: 9px 5px;
}

#yn-header .isLogin .imgw {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 5px;
}

#yn-header .isLogin .imgw img {
    width: 100%;
}

#yn-header .isLogin .username {
    margin-left: 30px;
}

#yn-header .isLogin .logout:hover,
#yn-header .isLogin .username span:hover {
    color: #FF4200;
}

#yn-header .account {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    padding-right: 25px;
}

#yn-header .account .item:hover {
    color: #fe7e00;
}
#yn-header .account td .dope{
    display:inline-block;
    position:relative;
    cursor:pointer;
}
#yn-header .account td .dope .dope-block{
    width:188px;
    border:1px solid #d6d6d6;
    top:22px;
    right:-3px;
    position:absolute;
    background:#fff;
    z-index:99;
}
#yn-header .account td .dope .dope-block ul li{
    height:31px;
    line-height:31px;
    transition:all .3s;
    list-style:none;
}
#yn-header .account td .dope .dope-block ul li a{
    height:31px;
    line-height:31px;
    display:inline-block;
    width:174px;
    padding-left:14px;
    color:#666;
}
#yn-header .account td .dope .dope-block ul li a span{
    margin:0;
    color:#333;
    font-weight:normal;
}
#yn-header .account td .dope .dope-block ul li.more a{
    text-align:center;
    padding:0;
    width:188px;
    color:#3486d9;
}
#yn-header .account td .dope .dope-block ul li span.notify{
    display: none;
    height:14px;
    line-height:14px;
    background:#d80505;
    font-style:12px;
    color:#fff;
    font-family:Tahoma,Helvetica,Geneva,sans-serif;
    margin:8px 14px 0 0;
    padding:0 5px;
    border-radius:10px;
    float:right;
}
#yn-header .account td:first-child {
    border: none;
}

#yn-header .account td {
    font-size: 13px;
    color: #999;
    padding: 0 10px;
    border-left: 1px solid #999;
}

#yn-header .account td a {
    color: #999;
}

#yn-header .yn-sign {
    color: #fe7e00;
    padding-right: 6px;
    padding-left: -3px;
}
#yn-header .yn-in:hover{
    color:#fe7e00;
    text-decoration:underline;
}
#yn-header .yn-register {
    border-left: 1px solid #999;
    color: #fe7e00;
    padding: 0 10px;
}

#yn-top {
    height: 90px;
    overflow: hidden;
    background: white;
    min-width:1200px;
    /* margin-top: 22px; */
}

#yn-top .logo {
    width: 200px;
    position: absolute;
    top: 8px;
}

img{
   border:none; 
}

#yn-top .logo img {
    width: 100%;
    border:none;
}

#yn-top .search {
    position: absolute;
    right: 0;
    top: 10px;
}

#yn-menu {
    min-width:1200px;
    background: #cf1623;
}

#yn-menu table {
    margin: 0;
    padding: 0;
}

#yn-menu td {
    padding: 10px 25px;
    font-size: 19px;
    color: white;
    cursor: pointer;
    border: none;
    line-height: 19px !important;
}

#yn-menu td.selected,
#yn-menu td:hover {
    background: #ba0821;
}

#yn-top .search {
    width: 500px;
    top: 12px;
    right: 25px;
}

#yn-top .inputs td {
    height: 25px;
}

#yn-top #btn_search {
    background: #ec1928;
}

#yn-top #btn_search:hover {
    background: #ba0821;
    border-color: #ba0821;
}

#yn-top .types td {
    cursor: pointer;
    color: gray;
    font-size: 15px;
    position: relative;
    border: 2px solid #ec1928;
    padding: 4px 18px 6px 18px;
}

#yn-top .types td.select {
    background: #ec1928;
    color: white;
}

#yn-top .types td .triangle {
    display: none;
    position: absolute;
    bottom: -12px;
    ;
    left: 40px;
    ;
    color: #ec1928;
}

#yn-top .types td .triangle.select {
    display: block;
}

#yn-top .inputs {
    width: 100%
}

#yn-top .inputs table {
    width: 100%;
}

#yn-top .inputs td {
    border: 1px solid rgb(220, 220, 220);
}

#yn-top input {
    width: 400px;
    outline: none;
    margin: 0;
    height: 100%;
    border: none;
    padding: 10px;
    line-height:14px !important;
}

#yn-top td#btn_search {
    cursor: pointer;
    font-size: 14px;
    padding: 0 24px;
    border-color: #ec1928;
    color: white;
}