.mr40{
	margin-right:40px;
}
.mr15{
	margin-right:15px;
}
#consultation{
	width:1200px;
	margin:0 auto;
	.logo{
        width:100%;
        margin:20px 0;
        img{
        	width:100%;
        	border:none;
        }
	}
	#content{
		width:100%;
		overflow:hidden;
		#contentLeft{
			width:820px;
			float:left;
			.taglist{
				border:1px solid #bfbfbf;
				line-height:44px;
				height:44px;
				background:#eeeeee;
				overflow:hidden;
				span{
					float:left;
					font-size:18px;
					color:#333333;
					padding:0 28px;
					border-right:1px solid #bfbfbf;
					font-weight:700;
					cursor:pointer;
					&.thisclass{
						color:#fff;
						background:#ec1928;
					}
				}
			}
			.cont{
				.list{
					background:#fff;
					padding:15px 20px 10px;
					border-bottom:1px dashed #dddddd;
					.quesition{
						font-size:16px;
						color:#333333;
						font-weight:700;
						line-height:23px;
						.user{
							color:#eb1927;
							font-weight:normal;
						}
						.questext{
							font-weight:normal;
						}
						.time{
							font-weight:normal;
							font-size:14px;
							color:#999999;
						}
					}
					.answer{
						background:#f8f8f8;
						padding:15px;
						position:relative;
						margin:15px 0 4px;
						border-radius:5px;
						i{
	                        font-size:20px;
	                        color:#f8f8f8;
	                        position:absolute;
	                        top:-14px;
	                        left:60px;
						}
						.answercont{
							line-height:23px;
							.user{
								font-size:16px;
								color:#333333;
								font-weight:700;
								.v{
									border:none;
									position:relative;
									top:2px;
									left:3px;
								}
							}
							.answertext{
								font-size:14px;
								color:#656565;
							}
						}
					}
			    }
			    .quiz{
			    	height:69px;
			    	width:840px;
			    	position:absolute;
			    	margin-left:-10px;
			    	background:url(../images/quiz.png) no-repeat center;
			    	overflow:hidden;
			    	.quizinput{
			    		float:left;
			    		width:640px;
			    		height:36px;
			    		margin-top:21px;
			    		overflow:hidden;
			    		margin-left:50px;
			    		input{
			    			width:597px;
			    			height:36px;
			    			line-height:36px;
			    			border:none;
			    			padding-left:5px;
			    			float:left;
			    		}
			    		a{
			    			display:block;
			    			float:left;
			    			padding:5px;
			    			background:#fff;
			    			height:26px;
			    			width:26px;
			    			i{
			    				font-size:22px;
			    			}
			    		}

			    	}
			    	.info{
			    		float:left;
			    		margin-top:21px;
			    		margin-left:20px;
			    		a{
			    			display:block;
			    			color:#fff;
			    			background:#e95349;
			    			font-size:12px;
			    			width:81px;
			    			height:37px;
			    			line-height:37px;
			    			text-align:center;
			    		}
			    	}
			    }
			}
		}
		#contentRight{
			width:340px;
			float:left;
			.tit{
				margin:13px;
				border-bottom:1px solid #d5d9d8;
				img{
					margin-right:8px;
					position:relative;
					top:1px;
				}
				.titi{
					font-size:18px;
					color:#333333;
					line-height:37px;
					font-weight:700;
				}
			}
			.content1{
				overflow:hidden;
				background:#fff;
				margin-bottom:35px;
				.content1list{
					margin:10px 13px 0;
					padding-bottom:10px;
					border-bottom:1px dashed #d6d7dc;
					overflow:hidden;
					.userhead{
						width:47px;
						height:47px;
						border-radius:5px;
						float:left;
						img{
							border:none;
							width:100%;
							height:100%;
						}
					}
					.sub{
						float:left;
						width:80%;
						.title{
							font-size:14px;
							color:#333333;
							font-weight:700;
						}
						.num{
							color:#999999;
							font-size:12px;
							overflow:hidden;
							line-height:24px;
							.number{
								float:left;
								font{
									font-size:14px;
									color:#fa5909;
									font-weight:700;
								}
							}
							.info{
								display:block;
								float:right;
								width:60px;
								height:24px;
								line-height:24px;
								text-align:center;
								color:#fff;
								background:#eb1927;
								border-radius:5px;
								font-size:12px;
								text-decoration:none;
							}
						}
					}
				}
			}
			.content2{
				background:#fff;
				overflow:hidden;
				.content2list{
					margin:15px 13px 0;
					padding-bottom:15px;
					border-bottom:1px dashed #d6d7dc;
					overflow:hidden;
					i{
						margin-right:5px;
						color:#666666;
						position:relative;
						top:1px;
						&.no1{
							color:#ec1928;
						}
						&.no2{
							color:#fb5909;
						}
						&.no3{
							color:#feb810;
						}
					}
					.star{
						float:right;
						i{
							color:#fb5909;
						}
					}
				}
			}
		}
	}
}