/*reset  这个是css样式重置文件和常用样式 不要修改  */
html{color:#000;background:#fff;}
body{margin:0;padding:0;font-size:12px; font-family:microsoft yahei,arial,simsun;}
h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,form,input,textarea,button,select,p,pre,blockquote,em,i,b{margin:0;padding:0;list-style:none;font-size:100%; font-style:normal; font-weight:normal;}
table,th,td{border-collapse:collapse;margin:0;padding:0;}
img{border:0 none;}
input,textarea,button,a:focus,input:focus{outline:none;}
object{vertical-align:top;}
.clear{clear:both;}
.clearfix{zoom:1;clear:both;}
.clearfix:after{display:block;content:'';clear:both;height:0;visibility:hidden;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.fl{float:left;_display:inline;}.fr{float:right;display:inline;}
.vm{vertical-align:middle;}.vt{vertical-align:top;}
.pr{position:relative;}.pa{position:absolute;}.pfix{ position:fixed;}.oh{overflow:hidden;}
.block{display:block;}.inline{display:inline;}.none{display:none;}.iblock{display:inline-block;}
.fb{font-weight:bold;}.fbn{ font-weight:normal;}
.yahei{font-family:microsoft yahei;}.simhei{font-family:simhei;}.simsun{font-family:simsun;}.constantia{ font-family:constantia;}.tahoma{ font-family:tahoma;}
.hand{cursor:pointer;}
.noselect{-moz-user-select:-moz-none; -webkit-user-select:none;}
.autoline{word-break:break-all;word-wrap: break-word;}
.hideline{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;-o-text-overflow: ellipsis; /*For Opera*/ -ms-text-overflow: ellipsis; /*For IE8*/}

a{ text-decoration:none; color:#5677d5; outline:none;}
a:hover{color:#e94b4b;text-decoration:underline;}
a.noline:hover{ text-decoration:none;}
.f11{font-size:11px; font-family:PMingLiU;}.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.f22{font-size:22px;}.f24{font-size:24px;}.f26{font-size:26px;}.f28{font-size:28px;}.f30{font-size:30px;}.f32{font-size:32px;}
.c000{color:#000;}.cred{ color:#f00;}
.c7a{color:#7A7A7A;}.cfff{ color:#fff;}

.lh22{ line-height:22px;}.lh24{ line-height:24px;}.lh26{ line-height:26px;}.lh28{ line-height:28px;}.lh30{ line-height:30px;}
.b0{ border:none;}
.ml5{margin-left:5px;}.mr5{margin-right:5px;}.mt5{margin-top:5px;}.mb5{margin-bottom:5px;}.m0a{ margin:0 auto;}.m0{margin:0}
.pl5{padding-left:5px;}.pr5{padding-right:5px;}.pt5{padding-top:5px;}.pb5{padding-bottom:5px;}.p0{padding:0}.p0x3{padding:0 3px;}.p0x5{padding:0 5px;}
.ml10{margin-left:10px;}.mr10{margin-right:10px;}.mt10{margin-top:10px;}.mb10{margin-bottom:10px;}
.pl10{padding-left:10px;}.pr10{padding-right:10px;}.pt10{padding-top:10px;}.pb10{padding-bottom:10px;}.p10{padding:10px;}
.ml15{margin-left:15px;}.mr15{margin-right:15px;}.mt15{margin-top:15px;}.mb15{margin-bottom:15px;}
.pl15{padding-left:15px;}.pr15{padding-right:15px;}.pt15{padding-top:15px;}.pb15{padding-bottom:15px;}
.ml20{margin-left:20px;}.mr20{margin-right:20px;}.mt20{margin-top:20px;}.mb20{margin-bottom:20px;}
.pl20{padding-left:20px;}.pr20{padding-right:20px;}.pt20{padding-top:20px;}.pb20{padding-bottom:20px;}
.ml25{margin-left:25px;}.mr25{margin-right:25px;}.mt25{margin-top:25px;}.mb25{margin-bottom:25px;}
.pl25{padding-left:25px;}.pr25{padding-right:25px;}.pt25{padding-top:25px;}.pb25{padding-bottom:25px;}

.w960{ width:960px; margin:0 auto; }
.w1168{ width:1168px; margin:0 auto; }.mw1168{ min-width:1168px;}.mx1168{max-width:1168px;margin:0 auto;}
@media(max-width:1199px){
	#yn-header,#yn-top,#yn-menu,#yn-footer{display:none;}
}